****************************

    BOOTING BEFORE BIOS

****************************

botton_start ----------------> eletrons (-) and (+)

eletrons (-) and (+) ----------> binary 0s and 1s

----------------------------------------------

              0 = negative
              1 = positive

----------------------------------------------
                               assembler -------->------> assembly-------------> BIOS/UEFI
binary 0s and 1s ------------> leyernet_compiler--------> compiled_code -------> BIOS/UEFI

---------------------------------------------
