[REGISTERS]

register assembly x86
registers assembly arm
registers assembly RISC-V

registers C whith everything

[64-bits]
// x86
rax = acumulator
rbx = base
rcx = numbers managenament
rdx = data
rsi = source index
rdi	= Dest Index
rbp	= Base Pointer
rsp = Stack Pointer
r8-r15 = random
// arm
x0-x7 = arguments
x8 = Syscall number
x9-x15 = times
x16-x17	Intra-procedure
x18	Platform register
x19-x28	Callee-saved
x29	Frame Pointer
x30	Link Register (LR)
sp	Stack Pointer
pc	Program Counter
// RISC-V
x0 (zero)  -  0
x1 (ra)    - Return Address
x2 (sp)    - Stack Pointer
x3 (gp)    - Global Pointer
x4 (tp)    - Thread Pointer
x5-x7      - Timer
x8 (s0/fp) - Saved/Frame Pointer
x9 (s1)    - Saved
x10-x11    - Arguments/Return (a0, a1)
x12-x17    - Arguments (a2-a7)
x18-x27    - Saved (s2-s11)
x28-x31    - TIMES (t3-t6)

[C registers]

interrupts=TRUE
asm volatile("sti");

interrupts=FALSE
asm volatile("cli");

x86-64	16	16 XMM	CR, MSR, DR          =                REGISTER
ARM64	31	32 NEON	PSTATE, ELR          =                REGISTER
RISC-V	32	32 F	CSR (3000+)          =                REGISTER

[zig_programing_language]

asm volatile ("mov %%rax, %[out]" = direct_asm
asm volatile ("mov %[in], %%rax" = direct_asm

-------------------------------------------------------------------------------------------------------------------


                                           THE_COMPATILE_IS=TRUE
                                           THE_COMPATILE_IS=TRUE
                                           THE_COMPATILE_IS=TRUE
                                           THE_COMPATILE_IS=TRUE

____________________________________________________________________________________________________________________
